# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
 Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
SyneScanner/Pods/TwilioVideo/README.md
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Info.plist
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/remove_archs
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/TwilioVideo
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioController.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioOptions.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioSink.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioTrack.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIBaseTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVICameraCapturer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVICameraPreviewView.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIConnectOptions.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIError.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIIceCandidatePairStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIIceCandidateStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIIceOptions.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalAudioTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalParticipant.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalVideoTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIParticipant.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIRoom.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIScreenCapturer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIStatsReport.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVITrack.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVITrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoCapturer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoConstraints.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoFormat.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoFrame.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoRenderer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoTrack.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoView.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TwilioVideo.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Modules/module.modulemap
