# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
 Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
SyneScanner/Pods/TwilioVideo/README.md
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Info.plist
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/remove_archs
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/TwilioVideo
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioController.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioOptions.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioSink.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioTrack.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIAudioTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIBaseTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVICameraCapturer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVICameraPreviewView.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIConnectOptions.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIError.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIIceCandidatePairStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIIceCandidateStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIIceOptions.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalAudioTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalParticipant.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVILocalVideoTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIParticipant.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIRoom.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIScreenCapturer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIStatsReport.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVITrack.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVITrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoCapturer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoConstraints.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoFormat.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoFrame.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoRenderer.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoTrack.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoTrackStats.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TVIVideoView.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Headers/TwilioVideo.h
SyneScanner/Pods/TwilioVideo/TwilioVideo.framework/Modules/module.modulemap
SyneScanner/Pods/Firebase/README.md
SyneScanner/Pods/Firebase/Core/Sources/Firebase.h
SyneScanner/Pods/Firebase/Core/Sources/module.modulemap
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/FirebaseAnalytics
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalytics+AppDelegate.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalytics.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalyticsConfiguration.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRAnalyticsSwiftNameSupport.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRApp.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRConfiguration.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FirebaseAnalytics.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIREventNames.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIROptions.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRParameterNames.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Headers/FIRUserPropertyNames.h
SyneScanner/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/Modules/module.modulemap
SyneScanner/Pods/FirebaseAuth/CHANGELOG.md
SyneScanner/Pods/FirebaseAuth/README.md
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/FirebaseAuth
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRActionCodeSettings.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAdditionalUserInfo.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuth.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthAPNSTokenType.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthCredential.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthDataResult.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthErrors.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthSwiftNameSupport.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRAuthUIDelegate.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FirebaseAuth.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FirebaseAuthVersion.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIREmailAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRFacebookAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRGitHubAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRGoogleAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIROAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRPhoneAuthCredential.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRPhoneAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRTwitterAuthProvider.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRUser.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRUserInfo.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Headers/FIRUserMetadata.h
SyneScanner/Pods/FirebaseAuth/Frameworks/FirebaseAuth.framework/Modules/module.modulemap
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/FirebaseCore
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRAnalyticsConfiguration.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRApp.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRConfiguration.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRCoreSwiftNameSupport.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FirebaseCore.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIRLoggerLevel.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Headers/FIROptions.h
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCore.framework/Modules/module.modulemap
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCoreDiagnostics.framework/FirebaseCoreDiagnostics
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseCoreDiagnostics.framework/Modules/module.modulemap
SyneScanner/Pods/FirebaseCore/Frameworks/FirebaseNanoPB.framework/FirebaseNanoPB
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/FirebaseDatabase
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabase.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabaseQuery.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabaseReference.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDatabaseSwiftNameSupport.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDataEventType.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRDataSnapshot.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FirebaseDatabase.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRMutableData.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRServerValue.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Headers/FIRTransactionResult.h
SyneScanner/Pods/FirebaseDatabase/Frameworks/FirebaseDatabase.framework/Modules/module.modulemap
SyneScanner/Pods/FirebaseInstanceID/CHANGELOG.md
SyneScanner/Pods/FirebaseInstanceID/README.md
SyneScanner/Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/FirebaseInstanceID
SyneScanner/Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/Headers/FirebaseInstanceID.h
SyneScanner/Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/Headers/FIRInstanceID.h
SyneScanner/Pods/FirebaseInstanceID/Frameworks/FirebaseInstanceID.framework/Modules/module.modulemap
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/FirebaseStorage
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FirebaseStorage.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorage.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageConstants.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageDownloadTask.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageMetadata.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageObservableTask.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageReference.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageSwiftNameSupport.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageTask.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageTaskSnapshot.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Headers/FIRStorageUploadTask.h
SyneScanner/Pods/FirebaseStorage/Frameworks/FirebaseStorage.framework/Modules/module.modulemap
SyneScanner/Pods/GoogleToolboxForMac/GTMDefines.h
SyneScanner/Pods/GoogleToolboxForMac/LICENSE
SyneScanner/Pods/GoogleToolboxForMac/README.md
SyneScanner/Pods/GoogleToolboxForMac/DebugUtils/GTMDebugSelectorValidation.h
SyneScanner/Pods/GoogleToolboxForMac/DebugUtils/GTMDebugThreadValidation.h
SyneScanner/Pods/GoogleToolboxForMac/DebugUtils/GTMMethodCheck.h
SyneScanner/Pods/GoogleToolboxForMac/Foundation/GTMNSData+zlib.h
SyneScanner/Pods/GoogleToolboxForMac/Foundation/GTMNSData+zlib.m
SyneScanner/Pods/GoogleToolboxForMac/Foundation/GTMNSDictionary+URLArguments.h
SyneScanner/Pods/GoogleToolboxForMac/Foundation/GTMNSDictionary+URLArguments.m
SyneScanner/Pods/GoogleToolboxForMac/Foundation/GTMNSString+URLArguments.h
SyneScanner/Pods/GoogleToolboxForMac/Foundation/GTMNSString+URLArguments.m
SyneScanner/Pods/GTMSessionFetcher/LICENSE
SyneScanner/Pods/GTMSessionFetcher/README.md
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionFetcher.h
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionFetcher.m
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionFetcherLogging.h
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionFetcherLogging.m
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionFetcherService.h
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionFetcherService.m
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionUploadFetcher.h
SyneScanner/Pods/GTMSessionFetcher/Source/GTMSessionUploadFetcher.m
SyneScanner/Pods/Headers/Private/Firebase/Firebase.h
SyneScanner/Pods/Headers/Public/Firebase/Firebase.h
SyneScanner/Pods/leveldb-library/LICENSE
SyneScanner/Pods/leveldb-library/README.md
SyneScanner/Pods/leveldb-library/db/builder.cc
SyneScanner/Pods/leveldb-library/db/builder.h
SyneScanner/Pods/leveldb-library/db/c.cc
SyneScanner/Pods/leveldb-library/db/db_impl.cc
SyneScanner/Pods/leveldb-library/db/db_impl.h
SyneScanner/Pods/leveldb-library/db/db_iter.cc
SyneScanner/Pods/leveldb-library/db/db_iter.h
SyneScanner/Pods/leveldb-library/db/dbformat.cc
SyneScanner/Pods/leveldb-library/db/dbformat.h
SyneScanner/Pods/leveldb-library/db/dumpfile.cc
SyneScanner/Pods/leveldb-library/db/filename.cc
SyneScanner/Pods/leveldb-library/db/filename.h
SyneScanner/Pods/leveldb-library/db/log_format.h
SyneScanner/Pods/leveldb-library/db/log_reader.cc
SyneScanner/Pods/leveldb-library/db/log_reader.h
SyneScanner/Pods/leveldb-library/db/log_writer.cc
SyneScanner/Pods/leveldb-library/db/log_writer.h
SyneScanner/Pods/leveldb-library/db/memtable.cc
SyneScanner/Pods/leveldb-library/db/memtable.h
SyneScanner/Pods/leveldb-library/db/repair.cc
SyneScanner/Pods/leveldb-library/db/skiplist.h
SyneScanner/Pods/leveldb-library/db/snapshot.h
SyneScanner/Pods/leveldb-library/db/table_cache.cc
SyneScanner/Pods/leveldb-library/db/table_cache.h
SyneScanner/Pods/leveldb-library/db/version_edit.cc
SyneScanner/Pods/leveldb-library/db/version_edit.h
SyneScanner/Pods/leveldb-library/db/version_set.cc
SyneScanner/Pods/leveldb-library/db/version_set.h
SyneScanner/Pods/leveldb-library/db/write_batch.cc
SyneScanner/Pods/leveldb-library/db/write_batch_internal.h
SyneScanner/Pods/leveldb-library/include/leveldb/c.h
SyneScanner/Pods/leveldb-library/include/leveldb/cache.h
SyneScanner/Pods/leveldb-library/include/leveldb/comparator.h
SyneScanner/Pods/leveldb-library/include/leveldb/db.h
SyneScanner/Pods/leveldb-library/include/leveldb/dumpfile.h
SyneScanner/Pods/leveldb-library/include/leveldb/env.h
SyneScanner/Pods/leveldb-library/include/leveldb/filter_policy.h
SyneScanner/Pods/leveldb-library/include/leveldb/iterator.h
SyneScanner/Pods/leveldb-library/include/leveldb/options.h
SyneScanner/Pods/leveldb-library/include/leveldb/slice.h
SyneScanner/Pods/leveldb-library/include/leveldb/status.h
SyneScanner/Pods/leveldb-library/include/leveldb/table.h
SyneScanner/Pods/leveldb-library/include/leveldb/table_builder.h
SyneScanner/Pods/leveldb-library/include/leveldb/write_batch.h
SyneScanner/Pods/leveldb-library/port/atomic_pointer.h
SyneScanner/Pods/leveldb-library/port/port.h
SyneScanner/Pods/leveldb-library/port/port_example.h
SyneScanner/Pods/leveldb-library/port/port_posix.cc
SyneScanner/Pods/leveldb-library/port/port_posix.h
SyneScanner/Pods/leveldb-library/port/port_posix_sse.cc
SyneScanner/Pods/leveldb-library/port/thread_annotations.h
SyneScanner/Pods/leveldb-library/table/block.cc
SyneScanner/Pods/leveldb-library/table/block.h
SyneScanner/Pods/leveldb-library/table/block_builder.cc
SyneScanner/Pods/leveldb-library/table/block_builder.h
SyneScanner/Pods/leveldb-library/table/filter_block.cc
SyneScanner/Pods/leveldb-library/table/filter_block.h
SyneScanner/Pods/leveldb-library/table/format.cc
SyneScanner/Pods/leveldb-library/table/format.h
SyneScanner/Pods/leveldb-library/table/iterator.cc
SyneScanner/Pods/leveldb-library/table/iterator_wrapper.h
SyneScanner/Pods/leveldb-library/table/merger.cc
SyneScanner/Pods/leveldb-library/table/merger.h
SyneScanner/Pods/leveldb-library/table/table.cc
SyneScanner/Pods/leveldb-library/table/table_builder.cc
SyneScanner/Pods/leveldb-library/table/two_level_iterator.cc
SyneScanner/Pods/leveldb-library/table/two_level_iterator.h
SyneScanner/Pods/leveldb-library/util/arena.cc
SyneScanner/Pods/leveldb-library/util/arena.h
SyneScanner/Pods/leveldb-library/util/bloom.cc
SyneScanner/Pods/leveldb-library/util/cache.cc
SyneScanner/Pods/leveldb-library/util/coding.cc
SyneScanner/Pods/leveldb-library/util/coding.h
SyneScanner/Pods/leveldb-library/util/comparator.cc
SyneScanner/Pods/leveldb-library/util/crc32c.cc
SyneScanner/Pods/leveldb-library/util/crc32c.h
SyneScanner/Pods/leveldb-library/util/env.cc
SyneScanner/Pods/leveldb-library/util/env_posix.cc
SyneScanner/Pods/leveldb-library/util/env_posix_test_helper.h
SyneScanner/Pods/leveldb-library/util/filter_policy.cc
SyneScanner/Pods/leveldb-library/util/hash.cc
SyneScanner/Pods/leveldb-library/util/hash.h
SyneScanner/Pods/leveldb-library/util/histogram.cc
SyneScanner/Pods/leveldb-library/util/histogram.h
SyneScanner/Pods/leveldb-library/util/logging.cc
SyneScanner/Pods/leveldb-library/util/logging.h
SyneScanner/Pods/leveldb-library/util/mutexlock.h
SyneScanner/Pods/leveldb-library/util/options.cc
SyneScanner/Pods/leveldb-library/util/posix_logger.h
SyneScanner/Pods/leveldb-library/util/random.h
SyneScanner/Pods/leveldb-library/util/status.cc
SyneScanner/Pods/leveldb-library/util/testharness.cc
SyneScanner/Pods/leveldb-library/util/testharness.h
SyneScanner/Pods/leveldb-library/util/testutil.cc
SyneScanner/Pods/leveldb-library/util/testutil.h
SyneScanner/Pods/nanopb/LICENSE.txt
SyneScanner/Pods/nanopb/pb.h
SyneScanner/Pods/nanopb/pb_common.c
SyneScanner/Pods/nanopb/pb_common.h
SyneScanner/Pods/nanopb/pb_decode.c
SyneScanner/Pods/nanopb/pb_decode.h
SyneScanner/Pods/nanopb/pb_encode.c
SyneScanner/Pods/nanopb/pb_encode.h
SyneScanner/Pods/nanopb/README.md
